/* root selector */

/* universal selector */

/* element selectors */

/* class selectors  */
.card-image,
.card,
.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content,
.media-content {
  text-align: center;
}

/* ID Selectors */
#viewPets,
#goHomepage {
  float: right;
}
/* media  */
