
/* root selector */
*{
  font-family: Dekko;
  --dodger-blue: #3398F4ff;
  --light-sky-blue: #97D4FFff;
  --blue-jeans: #4BA2F1ff;
  --wheat: #FFE9C2ff;
  --white: #FFFFFFff;
  --nyanza: #E2F5CBff;
/* universal selector */
}
html,body{
  height:100%;
   min-height:100%;
   background-color: #283959;
  }
/* element selectors */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 30px 0px 30px;
  }
h1 {
  font-size: 1.4em;
  color: white;
  font-weight: bolder;
  letter-spacing: .2em;
}
h1:hover {
  background-color: var(--white);
  color: #283959;
  padding: .5em .5em;
  border-radius: 20px;
  font-weight: bolder;
  transition: all .2s;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body {
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, #283959 , 0%,#283959   100.2% );
}
main{
  margin-bottom: 2.5rem;
  background-color: #283959;
}
figure {
  border-radius: 20px;
}
img {
  border-radius: 20px;
}

/* class selectors */
.petButton {
  background-image: linear-gradient(to bottom, var(--blue-jeans), var(--dodger-blue));
  min-height: 1000;
  color: var(--white);
  border-radius: 15px;
  margin: 0% 5% 0% 5%;
}
.petButton:hover {
  background-image: linear-gradient(to bottom, #f70c0c, #eb5858);
  color: white;
  border-radius: 20px;
  font-weight: bolder;
  transition: all .3s;
}
/* view saved pets button start */
.btn:link,
.btn:visited {
    text-decoration: none;
    padding:.5em .5em;
    width: 100%;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: white;
    color: #283959;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/*view saved pets end*/

.indexCard {
  align-self: center;
  margin: 30px 35%;
  box-shadow: 2px 2px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #283959;
  border-radius: 40px;
  padding-bottom: 0;
}


.heroCard {
  display: flex;
justify-content: space-around;
}
.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 15px 0px 15px;
  border-radius: 5px;
}
.heroImg {
  width:70%
}
.card-image {
  padding-bottom: 20px;
}

.media {
  margin-bottom: 0;
}
.media-content {
  text-align: center;
}
.title {
  font-size: x-large;
  color: #283959;
}
.petlink {
  margin-bottom: 20px;
  padding: 0 5% 0 5%;
}
.viewSavedCard {
  margin: 0;
  margin-right: 0;
  width: 100%;
}
.cardItem {
  margin: 2% 5% ;
  width: 80%;
  border: solid 1px #283959;
  border-radius: 20px;
  display: flex;
  padding-right: 5%;
  background-color: #f8fbff;
  box-shadow: 2px 2px 6px;
}
.myPetsPhoto {
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myPetsName {
  font-size: 2.5em;
  display: inline;
}
.btn-container {
  display: flex;
  justify-content: center;
}
#swipeRight {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.footeR{
  width: 100%;
  background-color: #283959;
  color: var(--white);

}

.fact {
  padding: 20px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.petForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
/*id selectors*/
[data-display="display-off"] {
  display: none;
}
[data-display="display-on"] {
  display: flex;
}

#goHomepage {
  float: right;
}
#description {
  margin: 0 0 20px 0;
  padding: 0 5% 0 5%;
}
#petName {
  text-transform: uppercase;
  font-family: Dekko;
  font-size: 3em;
  margin-bottom: 0;
  display: inline;
}
#petInfo {
  font-size: 1.2rem;
}
/* media  */
.welcome {
  font-size: 1.5em;
  text-align: center
  ;
}
#subtitle {
  font-size: 1.1em;
  margin-bottom: 10%;
  text-align: center;
}
#form-promt {
  margin-bottom: 10%;
}
#petType {
}
#welcometext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}
#webtitle {
  font-size: 1.8em;
  font-weight: bolder;
}
#selectGender{
  margin-top: 5%;
  margin-bottom: 5%;
}
#zipcode {
  width:50%;
}
.card {
  padding: 1%;
}
#distance {
}
#submit {
  margin-top: 10%;
}
#submit:hover {
background-color: #0cf766;
color: white;
border-radius: 20px;
font-weight: bolder;
transition: all .3s;
}
.Err {
  color: red;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  background: #283959;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
